@import "header.css";
@import "main.css";
@import "footer.css";
body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
:root {
  --main-color: RGB(255, 126, 52);
  --sub-text: RGB(85, 85, 85);
  --desc-text: RGB(188, 188, 190);
}
